name: Test OIDC

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-central-1
        
      - name: Test AWS STS Caller Identity
        run: aws sts get-caller-identity
